.card-type-template.card, .card-type-template .card {
  box-shadow: none;
  color: #272833;
	text-align:left;
}
.card-type-template.card {

}
.card-type-template.card:hover{
border-radius: 10px;
border-width: 1px;
border-color:grey;
box-shadow:0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.minH{
	min-height:70px;
}
.template-card .card-bodys {
	text-align:left
}
.cardImg{
  height: 100%;
  display: block;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.myCard{
  padding-top: 1.5em;
  padding-bottom: 1.5em;
	padding-left: 10px;
	padding-right:10px;
}
.component-card img {
	max-width: 100%;
}