.breaking-news{
    border-radius: 5px;
}
.news-scroll a {
    text-decoration: none
}

.dot {
    height: 6px;
    width: 6px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px;
    border-radius: 50%;
    display: inline-block
}